<h1>Blog MU Index</h1>

<%= link_to 'Create New Article', new_article_path %>

<div class="d-flex flex-row flex-wrap justify-content-center">
   
   <% @articles.each do |article| %>
      <div class="card m-3 shadow " style="width: 18rem;">
         <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title"><%= article.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= article.author %></h6>
            <p class="card-text"><%= article.text[0, 50]... %></p>
            <div class="d-flex flex-row justify-content-end">
               <button type="button" class="btn btn-primary btn-sm"><%= link_to 'Show', article_path(article), class: "text-decoration-none text-white" %></button>
               <button type="button" class="btn btn-success btn-sm mx-2"><%= link_to 'Edit', edit_article_path(article), class: "text-decoration-none text-white" %></button>
               <button type="button" class="btn btn-danger btn-sm "><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Delete chosen article PERMANENTLY?'}, class: "text-decoration-none text-white" %></button>
            </div>
            <p class="card-text text-muted">(<%= article.created_at.utc.strftime('%d %b %Y %H:%M %p') %>)</p> 
         </div>
      </div>
   <% end %>

</div>