<div class="d-flex flex-column flex-wrap justify-content-center align-items-center pt-5 mt-5 off-white">

      <div class="card m-3 shadow d-flex flex-column justify-content-between bg-light border-0" style="width: 50vw;">

         
            <div class="card-body d-flex flex-column justify-content-between text-center">
               <h4 class="card-title ubuntu-font text-maroon border-warning"><%= @article.title %></h4>
               <h6 class="card-subtitle mb-2 text-muted">By: <%= @article.author %></h6>
               <textarea class="card-text text-center bg-light border-0 border-top border-bottom border-warning " style="height: auto; overflow-x: hidden;"><%= @article.text%></textarea>
               <p class="card-text text-muted">Created: <%= @article.created_at.utc.localtime.strftime('%d %b %Y %I:%M %p') %></p> 
            </div>
         
         <div class="d-flex flex-row justify-content-center m-3">
               <button type="button" class="btn btn-outline-primary btn-sm border-0"><%= link_to '⬅️', articles_path, class: "text-decoration-none text-white" %></button>
               <button type="button" class="btn btn-outline-success btn-sm mx-2 border-0"><%= link_to '✏️', edit_article_path(@article), class: "text-decoration-none text-white" %></button>

                <button type="button" class="btn btn-outline-success btn-sm mx-2 border-0"><%= link_to '🗣️', new_article_comment_path(@article), class: "text-decoration-none text-white" %></button>

               <button type="button" class="btn btn-outline-danger btn-sm border-0"><%= link_to '❌', article_path(@article), method: :delete, data: {confirm: 'Delete chosen article PERMANENTLY?'}, class: "text-decoration-none text-white" %></button>
         </div>
      
      </div>



    <div class="m-3 d-flex flex-column justify-content-between off-white border-0" style="width: 50vw;">
        <div class="card-body d-flex flex-column justify-content-between text-center">
            <h6 class="card-title ubuntu-font text-maroon border-warning">
            <%= @article.comments.count %> 🗣️
            </h6>
            <%= render @article.comments %>
        </div>
    </div>


</div>